// BACKGROUND COLOR
$primary: #fff;
$secondary: #f5a255;
$black-1: #000;
$grey-1: #f3eded;

// TEXT COLOR
$tPrimary: #333;
$tSecondary: #f5a255;
$tWhite: #fff;

// FONT SIZE
$h1: 30px;
$h6: 20px;
$default: 16px;
$body-2: 12px;
$body-1: 14px;

// FONT WEIGHT
$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;