// BACKGROUND COLOR
$primary: #fff;
$secondary: #ed3777;
$black-1: #333;
$grey-1: #f3eded;

// TEXT COLOR
$tPrimary: #333;
$tSecondary: #ed3777;
$tWhite: #fff;

// FONT SIZE
$exSmall: 12px;
$small: 14px;
$default: 16px;
$medium: 20px;
$large: 30px;

// FONT WEIGHT
$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;